.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 220px 1fr 260px;
    gap: 20px;
    width: 100%;
    max-width: 1500px;
    margin: 20px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.left {
    width: 100%;
}

.center {
    width: 100%;
}

.right {
    width: 100%;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: 200px 1fr 240px;
    }
}

@media (max-width: 1000px) {
    .container {
        grid-template-columns: 1fr;
    }
}
