server:
  # Render에서 PORT라는 환경변수를 던져줌. 없으면 8080으로 실행
  port: ${PORT:8080}

spring:
  datasource:
    # 1순위: Render에서 넣어줄 SPRING_DATASOURCE_URL
    # 2순위: (선택) 로컬 Postgres 돌릴 때 쓸 기본값
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/kakaoboard}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  mail:
    host: smtp.naver.com
    port: 587
    username: mz7701@naver.com
    password: 5J9QSR7UHLEU
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
